/* Global */

* {
    box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

h1 {
  
  font-size: 42px;
  margin: 0 0 30px 0;
  
}

p {
  line-height: 1.75em;
  margin: 0 0 30px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button, .submit {
  background: #06c3a9;
  color: white;
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 15px 30px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  margin: 0;
  transition: background 0.3s ease;
}

.contact, .left-btn, .right-btn {
    min-width: 200px;
}

button:hover, .submit:hover {
    background: #04eccc;
}

header {
  display: flex;
  flex: 4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  min-height: 100%;
  background-color: #fafafa;
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
  color: #324851;
}

.contact-form {
    margin-top: 30px;
    transition: background 0.5s ease;
}

.linkedin-div {
    width: 30px;
    height: 30px;
    background-image: url('images/linkedin-logo.png');
    background-size: cover;
}
.github-div {
    width: 30px;
    height: 30px;
    background-image: url('images/github-logo.png');
    background-size: cover;
}

.linkedin-div:hover {
    background-image: url('images/linkedin-logo-teal.png');
    background-size: cover;
    transition: background 0.3s ease;
}
.github-div:hover {
    background-image: url('images/github-logo-teal.png');
    background-size: cover;
    transition: background 0.3s ease;
}

form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: 15px;
}
form input, form textarea {
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
    color: #324851;
    font-family: 'Open Sans', sans-serif;
}
textarea {
    resize: none;
}
.submit {
    margin-top: 15px;
    margin-bottom: 15px;
}
.info {
  width: 75%;
}

.contact-links ul li {
  padding: 0 15px;
  margin: 0;
}

.contact-links ul li:first-child {
  padding-left: 0;
}

.contact-links ul li:last-child {
  padding-right: 0;
}

.contact-links ul {
  display: flex;
  margin: 0 0 30px 0;
}




.right-container {
  flex: 6;
  overflow: auto;
}

.p1 {
  background: #324851;
}
.p2 {
  background: #325d6e;
}
.p3 {
  background: #2a8975;
}
.p4 {
  background: #356b68;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 50px 0px;
  width: 100%;
}

.main-content {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
  
}

.img-container {
    width: 40%;
}


.project-image {
  width: 100%;
  object-fit: cover;
}

.description {
  width: 50%;
  padding-left: 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

/* .description-1 {
  width: 50%;
  padding-left: 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  50
} */

/* .base-header {
  font-size: 36px;
  text-align: center;
} */

.project-stack-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ccc;
    flex-basis: 0;
    flex-grow: 1;
}

.react-logo, .redux-logo, .node-logo, .linkedin-logo, .github-logo {
    width: 30px;
    margin-bottom: 10px;
}



.project ul {
  display: flex;
  margin-bottom: 0;
  justify-content: space-around;
  padding: 0;
  flex-wrap: wrap;
}
.project h2 {
  margin-top: 0;
  font-size: 36px;
  text-align: center;
}

.project h3 {
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .15em;
}

li {
  list-style: none;
}

footer {
  display: flex;
  background: #324851;
  color: #CCC;
  justify-content: center;
  padding: 15px 0;
}

footer p {
    margin: 0;
}

.left-btn {
  margin-right: 10px;
}
.right-btn {
  margin-left: 10px;
}

.hidden {
    display: none;
}

.made-with {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 50px;
}

.email {
  font-size: 24px;
  font-weight: bold;
  color: #324851;
}

.gif {
  display: flex;
  justify-content: center;
}

/*Media Queries*/
@media (max-width: 1500px) {
  .img-container {
    width: 50%;
  }
  .description {
    width: 45%;
  }
}

@media (max-width: 1200px) {
  body {
    flex-direction: column;
    height: 100%;
  }
  .img-container {
    width: 45%;
  }
  .description {
    width: 45%;
  }
  
}

@media (max-width: 992px) {
  body {
    flex-direction: column;
    height: 100%;
  }
  header {
      flex: 0;
      flex-basis: auto;
}

.right-container {
    overflow: visible;
}
  .main-content {
    flex-direction: column;
    align-items: center;
  }
  .img-container {
    width: 80%;
    padding-bottom: 15px;
  }
  .description {
    width: 80%;
    padding-left: 0;
  }
  .project {
    padding: 50px 0;
  }
}

@media (max-width: 576px) {
  .img-container {
    width: 80%;
  }
  .description {
    width: 80%;
  }
  .project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project-links a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.project-links button {
    width: 80%;
}
  .left-btn {
      margin-bottom: 10px;
      margin-right: 0px;
  }
  .right-btn {
      margin-left: 0px;
  }
}